@using MagicDeckbuilder.Logic.Entities
@model Card
@{
    <div>
        <form id="newCard">
            <p>Name: @Model.Name</p>
            <p>Power: @Model.Power</p>
            <p>Toughness: @Model.Toughness</p>
             <p>manaCost: @Model.ManaCost</p>
        </form>

        <button type="submit" form="newCard">Create</button>
    </div>
}