@using MagicDeckbuilder.Logic.Entities
@{

    Card card = Model;
    <div>
        <form id="newCard">
            <p>Name: @card.Name</p>
            <p>Power: @card.Power</p>
            <p>Toughness: @card.Toughness</p>
             <p>manaCost: @card.ManaCost</p>
        </form>

        <button type="submit" form="newCard">Create</button>
    </div>
}