<!-- Create 'Card' class,
reference attributes on this page,
make add button.-->
<div>
    <form id="newCard">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="power">Power:</label><br>
        <input type="text" id="power" name="power"><br>

        <label for="toughness">Tougness:</label><br>
        <input type="text" id="toughness" name="toughness"><br>

        <label for="manaCost">Mana Cost:</label><br>
        <input type="number" id="manaCost" name="manaCost">
    </form>

    <button type="submit" form="newCard">Create</button>
</div>