@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <table style="width:100%">
        <tr>
            <th>CardName</th>
            <th>Power</th>
            <th>Toughness</th>
            <th>Mana Cost</th>
        </tr>
        <tr>
            <td>Dummyname1</td>
            <td>DummyPower1</td>
            <td>DummyToughness1</td>
            <td>DummyManaCost1</td>
        </tr>
        <tr>
            <td>Dummyname2</td>
            <td>DummyPower2</td>
            <td>DummyToughness3</td>
            <td>DummyManaCost2</td>
        </tr>
    </table>

</div>