# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MagicDeckbuilder.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Brian\RiderProjects\MagicDeckbuilder\.idea\.idea.MagicDeckbuilder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
